.footer {
    background-color: #0236d2;
    .social_media {}
    .copyright {
        text-align: center;
        color: #fff;
        p {
            margin-bottom: 0;
            padding-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}