.navigation {
    background-color: #e7214d;
    height: 50px;
    position: fixed;
    width: 100%;
    .logo_nav {
        float: left;
        position: absolute;    
        top: 20px;
        left: 40px;
    }
    nav {
        ul {
            list-style: none;
            margin: 12px 0;
            padding: 0;
            li {
                float: left;
                padding: 0 15px;
                line-height: 1em;
            }
            a {
                text-decoration: none;
                color: #fff;
                .font_type_title(20px);                
                &:hover {
                    color: #0236d2;
                }
            }            
        }
    }
}