.clear {
    clear: both;
}

.header {
    .header_img_wrap {
        .header_caption_wrap {
            position: absolute;
            top: 280px;
            right: 280px;
            background-color: #0236d2;
            padding: 0 20px 10px;
            color: #fff;
            opacity: 0.8;
            > h2 {
                font-size: 30px;
            }
        }
    }
}

.inner_wrap {
    padding: 20px 15px;
}

.intro {
    text-align: center;
}

h1 {
    .font_type_title(30px);
}
h2 {
    .font_type_title(20px);
}

p {
    .font_type_text(15px);
}
